.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #ffcb05;
  }
  
  .logo-circle {
    width: 100px;
    height: 100px;
    background-color: #ffcb05;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .logo-text {
    font-weight: bold;
  }